@import url('https://fonts.googleapis.com/css?family=Pacifico|Rock+Salt');



body{
    background-color: #fff;
    text-align: center;
}

.Outfit-1{
    margin: 110px 20px 80px 30px;
}
.Outfit-2 {
    margin-bottom: 80px;
}
.des-1{
    margin-bottom: 30px;
}
.des{
    margin-bottom: 30px;
}
.hidden {
    display: none;
}

.show-list-button{
    margin-top: 20px;
    color: blueviolet;
    padding: 20px;
    font-size: larger;
    font-style: initial;
    background-color: rgb(255, 255, 255);
}
.products {
    float: left;
    width: 33.33%;
    padding: 60px;
}