body{
    background-color: rgb(43, 43, 43);
    background: url("Common Files/image/bg.jpg");
    background-size: cover;
    background-position: center;
    
}

a{
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}

.mainn{
    display: flex;
    justify-content: center;
   
}

.main{
    height: 100%;
    width: 450px;
    background-color: rgb(172, 172, 172);
    

}
.navbar{
    width: 100%;
    height: 8vh;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    
}
.navbar i,span{
    margin: 1rem;
}
.navbar span{
    font-weight: 700;
}

.create{
    width: 100%;
    height: 39vh;
    background-color: white;
    margin-bottom: 10px;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    position: relative;

}
.create img{
    height: 35vh;
    position: absolute;
    left: 35%;
    z-index: 1;
}
.create span{
    margin-left: 2rem;
    font-size: 40px;
    padding: 0.5rem 1rem;
    background-color: #f41cb4;
    border-radius: 30rem;
    position: absolute;
    top: 30%;
    left: 5%;
   z-index: 5;
}
.create span:hover{
    background-color:  #da109d;
    
}
.scroll{
    width: 100%;
    height: 39vh;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.scroll span{
    margin-right: 2rem;
    font-size: 40px;
    padding: 0.5rem 1.4rem;
    background-color: #f25512;
    border-radius: 30rem;
}
.scroll span:hover{
    background-color: #de4a0a;
}
.scroll img{
    height: 35vh;
    
}
.bottom{
    width: 100%;
    height: 7vh;
    background-color: white;
    display:flex ;
    align-items: space-around;
    justify-content: space-around;
    
}
.bottom p{
    margin: 0;
    font-size: 10px;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   gap: 0;
}
.logo a:hover{
    color: #f41cb4;
}

.other{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

}
#myntra{
   width: 2.7rem;
   
}
