@import url('https://fonts.googleapis.com/css?family=Pacifico|Rock+Salt');

#nav_bar {
    background-color: rgb(228, 216, 216);
    font-size: 62.5%;
    --primaryFont: 'DM Sans', sans-serif;
    font-family: var(--primaryFont);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 35px;
    margin: 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    ;
    font-size: 14px;
    line-height: 20px;
    color: #545766;
    font-weight: bolder;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h3{
    text-align: center;
    color: blueviolet;
    margin-top: 20px;
}

body {
    background-color: rgb(255, 255, 255);
    text-align: center;
}





.Outfit-4,
.Outfit-5 {
    margin-bottom: 80px;
}




.des4,
.des5 {
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

.show-list-button {
    margin-top: 20px;
    color: blueviolet;
    padding: 20px;
    font-size: larger;
    font-style: initial;
    background-color: rgb(255, 255, 255);
}

.products {
    float: left;
    width: 33.33%;
    padding: 60px;
}
.rate-button{
        margin-top:10px;
        color: rgb(0, 0, 0);
        padding: 20px;
        font-size: small;
        font-style: initial;
        background-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

.box {
    float: left;
    width: 50%;
    /* three boxes (use 25% for four, and 50% for two, etc) */
    margin: 0;
}